<h1>Artists</h1>
<% @artists.each do |artist| %>
<h2><%= artist.name %></h2>
<%= link_to 'Show songs' artist_path(@billboard.artist) %>
<% end %>
  <%= link_to 'Back', billboard_artists_path(@billboard)
