<h1>Welcome to Billboards for you</h1>
<% @billboards.each do |billboard| %>
  <h2><%=link_to billboard.name, billboard_path(billboard) %></h2>
</br>
  <%= link_to 'Edit billboard', edit_billboard_path(billboard) %>
</br>
  <%= link_to 'Remove billboard', billboard, method: :delete %>
  <% end %>
  <p><%= link_to 'create billboard', new_billboard_path %></p>
</br>
